body {
    background-image: url('https://img.freepik.com/free-photo/top-view-wi-fi-router-with-copy-space_23-2148779248.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}